* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3CDBC0;
    --text-color: #4a4a4a;
    --light-color: #FFFFFF;
    --primary-font: "Rubik", sans-serif; 
}

body {
    font-family: var(--primary-font);
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    


}